# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.env

# Banco local
db.sqlite3

# Django
staticfiles/
media/

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Migrations cache
*/migrations/__pycache__/
