<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - StudyFlow</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <!-- PERFIL -->
     <div class="card-custom profile-card">
        <div class="profile-avatar">
          U
        </div>
  
        <div>
          <h4>Usuário</h4>
          <p>Meta: 6h por dia</p>
        </div>
      </div>
      
    <button onclick="history.back()"
    class="btn btn-back w-100 py-2">
← Voltar
</button>

</body>
</html>